*{
    margin: 0;
    padding: 0;
}
 body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --branco: #fff;
    --amarelo: #f5d802;
    --amarelo-claro:#e6d551;
    --roxo:#602B7A;
    --roxo-escuro:#29054b;
    --verde:#00FFA3;
}
html{
    scroll-behavior: smooth;
}
/**BARRA DE NAVEGAÇÃO**/


.menu-container {
    position: fixed;
    top: 10vh;
    right: 5vw;
    z-index: 1004;
}

.burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.bar {

    width: 4vw;
    height: 0.5vh;
    background-color: var(--amarelo-claro); /* Altere para a cor desejada */
    margin: 3px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}


.balloon {
    position: absolute;
    top: 1vh;
    right: 0;
    background-color: var(--roxo);
    border-radius: 20px;
    padding: 2vh;
    width: 20vw;
    display: none; /* Inicia como não visível */
    opacity: 0; /* Opacidade inicial */
    transition: opacity 0.5s ease; /* Transição suave da opacidade */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.377);
}

/* Adiciona uma classe para exibir o menu com efeito de fade-in */
.balloon.show {
    display: block; /* Torna visível */
    opacity: 1; /* Opacidade final */
}
.menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 60vh;
    overflow-y: auto;
}

.menu-items li {
    margin: 1vh 0;
}

.menu-items li a {
    color: var(--branco);
    text-decoration: none;
    padding: 1vh;
    display: block;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.menu-items li a:hover {
    background-color: var(--amarelo);
}

.bubble {
    position: absolute;
    bottom: -10px; /* Posição da bola em relação ao menu burger */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta a centralização */
    width: 4vw; /* Largura da bola */
    height: 4vw; /* Altura da bola */
    background-color: var(--amarelo); /* Cor da bola */
    border-radius: 50%; /* Torna a bola redonda */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Sombra da bola */
    animation: bounce 0.5s infinite; /* Animação de quique */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--roxo);
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 1.5vw; /* Tamanho do texto */
    padding: 0.5vh;
}

.bubble-text {
    transform: scale(0.8); /* Tamanho irregular do texto */
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-5px); /* Altura do quique */
    }
}

@media (max-width: 768px) {
    .balloon {
        width: 60vw;
    }

    .bubble {
        width: 10vw; /* Ajusta a bola para telas menores */
        height: 10vw; /* Ajusta a altura da bola */
        font-size: 2vw; /* Ajusta o tamanho do texto para telas menores */
    }
}

/**BOTÃO WHATSAPP**/

.whatsapp-button {
    position: fixed;
    bottom: 8vh; /* Distância do fundo */
    left: 4vw; /* Distância da esquerda */
    width: 10vh; /* Largura da bolinha */
    height: 10vh; /* Altura da bolinha */
    background-color: #25D366; /* Tom oficial do WhatsApp */
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4); /* Sombra mais forte */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1001; /* Garantir que fique na frente */
}

.whatsapp-button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.5); /* Sombra mais forte no hover */
}

.whatsapp-button i {
    font-size: 4vh; /* Tamanho do ícone em vh */
}

.whatsapp-popup {
    display: none; /* Inicialmente escondido */
    position: fixed;
    bottom: 22vh; /* Aumentado para 16vh, movendo mais para cima */
    left: 1vw; /* Distância da esquerda */
    animation: fadeIn 0.3s ease;
    z-index: 1001; /* Garantir que fique na frente */
}

.whatsapp-bubble {
    background-color: #E5F8E6; /* Cor semelhante ao papel de parede do WhatsApp */
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3); /* Sombra mais forte */
    padding: 2vh 2vw; /* Padding em vh e vw */
    width: 40vw; /* Largura da caixinha reduzida */
    max-width: 240px; /* Largura máxima da caixinha */
    position: relative;
    font-weight: 500;
}

.whatsapp-bubble:after {
   
    content: '';
    position: absolute;
    top: 100%; /* Posição da ponta do balão */
    left: 20%; /* Alinha a ponta do balão */
    margin-left: -10px; /* Ajusta a posição da ponta */
    border-width: 2vw; /* Ajuste proporcional */
    border-style: solid;
    border-color: #E5F8E6 transparent transparent transparent; /* Cores do balão */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.whatsapp-link {
    display: block;
    margin-top: 1vh; /* Margem em vh */
    background-color: #054D44; /* Tom mais escuro para o link */
    color: #ffffff; /* Texto branco */
    text-decoration: none;
    padding: 1vh; /* Padding em vh */
    border-radius: 5px; /* Borda arredondada */
    text-align: center; /* Centraliza o texto */
    font-weight: bold; /* Estilo mais profissional */
}

.whatsapp-link:hover {
    text-decoration: underline;
}

/* GERAL */
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/img/topo.png);
    background-size: cover;
    background-position: 60%;
    background-repeat: no-repeat;
    height: 140vh;
}

.area-text {
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2% 2% 2% 7%;
    width: 50vw;
}

.area-text h2 {
    color: var(--branco);
    text-align: center;
    text-shadow: 1px 2px 2px black;
}

.area-text span {
    color: var(--amarelo);
    font-weight: 800;
}

.area-vid {
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 8%;
    width: 50vw; 
    max-width: 600px; 
    position: relative; 
}

.area-vid .video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden;
}
.video{
    box-shadow: 1px 0px 30px rgba(245, 241, 8, 0.993);
    border-radius: 10px;
}
.area-vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

.area-vid h2 {
    padding-top: 1.5vw;
    font-size: 1vw;
    color: var(--branco);
    text-align: center;
}

.area-vid span {
    color: var(--amarelo);
}

/* BOTÃO */
.area-btn{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-1deg); }
    50% { transform: rotate(1deg); }
    75% { transform: rotate(-1deg); }
    100% { transform: rotate(0deg); }
}

.btn{
    border-radius: 10px;
    width: 20vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5d802;
    margin: 5%;
    font-weight: 800;
    text-decoration: none;
    font-size: 1.2vw;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.37);
}
.btn:hover {
    animation: shake 0.5s infinite;
}

/**SESSÃO DOIS**/

.sessao2{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-image: url(/assets/img/bg-nuvens.png);
    background-size: cover;
}
.sessao2-titulo{
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--roxo);
    font-size: 2vw;
    text-align: center;
    padding:  2% 15%;
    
}
.sessao2-titulo h2{
    font-weight: 800;
}
.area-quadros{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.quadros-sessao2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:7px dashed #00FFA3 ;
    background-color: var(--amarelo-claro);
    min-height: 60vh;
    min-width: 18vw;
    max-width: 18vw;
    margin: 3%;
}
.quadros-sessao2 img{
    width: 12vw;
}
.quadros-sessao2 h2{
    text-align: center;
    font-size: 1.3vw;
    padding: 10% 2%;
    color: var(--roxo);
    font-weight: 800;
}
.transicao{
    width: 100%;
    height: 35vh;
    background-image: url(/assets/img/transicao-2.png);
    background-size: cover;
    background-position: top;
   
}


        /* SESSÃO TRES */

.sessao3{
    background-image: url(/assets/img/bg-3.png);
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
}
.area-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    color: var(--roxo);
    padding: 6%;
}
.area-1 h2{
    font-size: 3.2vw;
    font-weight: 800;
    padding: 5% 0;
}
.area-1 p{
    padding: 1%;
    font-size: 1.5vw;
    font-weight: 700;   
}
.area-1 span{
    font-weight: 800;
}
.area-2{
    width: 50%;
    color: var(--roxo);
    padding: 1%;
}
.area-2 p{
    font-size: 1.5vw;
    font-weight: 700;
    padding: 1%;
}
.area-2 i{
    color: var(--amarelo-claro);
    padding-right: 3%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.301);
}

    /* SESSÃO 4 */
.sessao-4{
    border-top: 5px solid #f588ee;
    background-image: url(/assets/img/bg-44.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 15% 7% 4% 7% ;


}
.sessao-4 p{
    font-size: 1.5vw;
    padding: 1% 12%;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
}
.area-icones{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icones{
    color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
}
.icones i{
    font-size: 6.8vw;
}
.icones h2{
    text-align: center;
    font-size: 1.3vw;
    padding: 3% 0; 
}

/* SESSÃO CINCO */

.sessao-5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.area-5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    padding: 2%;
    text-align: center;
}
.area-5 h2{
    color: var(--roxo);
    font-weight: 800;
    font-size: 2vw;
    padding-bottom: 3%;
}
.area-5 p{
    color: var(--roxo);
    font-size: 1.5vw;
    padding: 0% 5% 1% 5%;
}
.area-foto-5{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}
.area-foto-5 img{
    width: 55%;   
}
.verde{
    color: var(--verde);
    text-shadow: 1px 2px 2px #0000005d;
    font-weight: 800;
}
.amarelo{
    color: var(--amarelo);
    text-shadow: 1px 2px 2px #0000005d;
    font-weight: 800;
}
        /* SESSÃO 6 */

.sessao-6{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/img/transicao-3.png);
    background-size: cover;
    width: 100%;
    height: 60vh;
}
/* SESSÃO SETE */
.sessao-7 {
    background-image: url(/assets/img/bg-6-novo.png);
    background-size: cover;
    padding: 10% 0;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    position: relative;
    height: 500px;
    padding-top: 5%;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
    align-items: center;
}

.carousel-item {
    flex: 0 0 20%;
    transition: transform 0.5s ease, opacity 0.5s ease;
    margin: 0 10px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item.active {
    transform: scale(1.1);
    opacity: 1;
}

.carousel-item img {
    max-width: 100%;
    max-height: 90%;
    object-fit: contain;
    border-radius: 10px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    z-index: 10;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: var(--roxo);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: var(--amarelo);
}

        /* SESSÃO 8 */
.sessao-8{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao-esquerdo{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}
.sessao-esquerdo img{
    width: 80%;
}

.sessao-direito{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sessao-direito p{
    color: var(--roxo);
    font-size: 1.5vw;
    font-weight: 500;
    padding-bottom: 3%;
    padding: 3% 7%;
}
.sessao-9{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/img/bg-5.png);
    background-size: cover;
    padding: 5% 11%;
}

.lado-esquerdo-9{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.lado-esquerdo-9 h2{
    color: var(--amarelo);
    padding-bottom: 8%;
    font-size: 2.2vw;
    font-weight: 800;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.397);
}
.lado-esquerdo-9 p{
    color: var(--branco);
    padding-bottom: 1.1%;
    font-weight: 700;
    font-size: 1.5vw;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.397);
    width: 100%;
}
.lado-esquerdo-9 i{

    color: var(--roxo);
    padding: 2%;
}

.lado-direito-9{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.lado-direito-9 p{
    text-align: center;
    font-size: 1.5vw;
    color: var(--branco);
    padding-bottom:8%;
}

  /* AREA VALOR */
 .area-valor {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%; 
    border: 2px solid rgba(255, 255, 255, 0.356);
    padding: 3% .1%;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.137));
}

.valor-acima p{
    width: 100%; 
    text-align: center; 
    font-size: 3.2vw;
    font-style: italic; 
    text-decoration: line-through; 
    padding-top: 20%; 
    margin-bottom: -50px;
}

.valor-flex {
    display: flex; 
    width: 100%; 
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.valor-flex .parcelas {
    font-weight: 800; 
    font-size: 4vw;
}

 .valor-flex .reais {
    font-weight: 800; 
    font-size: 15vw; 
    padding: 0;
    margin: 0; 
}

.valor-flex .centavos {
    font-weight: 800; 
    font-size: 4vw; 
    padding-bottom: 20%; 
    margin-left: -25px;
}

.valor-abaixo {
    width: 100%; 
    text-align: center; 
    padding-top: 3%; 
    font-size: 1.9vw; 
    margin-top: -30px;
}
    /*AREA ANIMAÇÃO GARANTIA*/

    .container-garantia {
        display: flex;
        align-items: center; 
        justify-content: center; 
        position: relative;
        background-size: cover;
        background-image: url(/assets/img/bg-roxo-tinta.png);
       
    }
    
    .animacao-container {
        position: relative;
        width: 27%;  
    }
    
    .animacao-container img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        filter: drop-shadow(2px 2px 20px rgba(0, 0, 0, 0.158))
    }
    
    .circulo-pontilhado {
        animation: rotacao 5s linear infinite; /* Círculo pontilhado girando */
    }
    
    .garantia {
        animation: rotacao 5s linear infinite; /* "7 dias de garantia" girando */
    }
    
    .garantia img {
        width: 100%; 
        height: auto; 
    }
    
    @keyframes rotacao {
        from {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        to {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
    
    .text-content-gar{
        width: 35%;
        padding: 10% 0;
        
    }
    .text-content-gar h2{
        color: var(--roxo);
        font-size: 2.1vw;
        font-weight: 800;
        padding-bottom: 3%;
    }
    .text-content-gar p{
        color: var(--roxo-escuro);
        font-size: 1.2vw;
    }
        /* SESSAO 10 */
.sessao-10{
    background-image: url(/assets/img/bg-88.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8%;
}
.sessao-10 h2{
    color: var(--branco);
    font-size: 2.9vw;
    padding: 5%;
    text-align: center;
    font-weight: 800;
    text-shadow: 2px 2px 20px black;
    width: 60%;
}
        /* VIDEO CONTAINER */

.video-container {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap; /* Permite que os vídeos se movam para a próxima linha se necessário */
    width: 100%; 
    max-width: 1200px; /* Largura máxima para centralizar os vídeos */
    margin: 0 auto; /* Centraliza a div pai */
}

    /* SESSÃO-11 */
.sessao-11{
    background-image: url(/assets/img/BG-910.png);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.area-sessao-11{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
}
.esquerdo-11 p{
    font-size: 10vw;
    font-weight: 800;
    padding: 0;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.411);
}
.direito-11 p{
    font-size: 3vw;
    font-weight: 800;
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.411);
}    
.subtitulo-11 p{
    margin-top: -1vw;
    font-size: 1.5vw;
    padding: 0 10%;
    text-align: center;
    color: var(--branco);
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.945);
    
}
.imagem-11{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
.imagem-11 img{
    width: 15vw;
}
/*CARROSSEL SIMPLES*/


.carrossel-simples {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slides {
    display: flex; /* Permite que os slides sejam organizados em linha */
    transition: transform 0.5s ease; /* Transição suave */
    padding: 8vw 0;
   
}

.slide {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    padding-top: 3%;
   
}

.slide img {
    width: 28%;
    height: auto;
}

.text-content {
    width: 31%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.text-content h2 {
    margin: 0;
    color: var(--branco);
    font-weight: 800;
    font-size: 2.5vw;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.342);
    text-align: left;
    padding-right: 13%;
}

.text-content p {
    margin-top: 1%;
    text-align: left;
    color: var(--branco);
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.342);
    width: 100%;
    font-size: 1.5vw;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(88, 22, 194, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel-dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 1vw;
    width: 1vw;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active-simple {
    background-color: #717171;
}

        /* SESSÃO 12 */
.sessao-12{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--roxo);
    padding: 0 12%;
}
.sessao-12 h2{
    padding:5% 0;
    text-align: center;
    font-size: 1.8vw;
}

.sessao-12 p{
    text-align: center;
    font-size: 1.5vw;
    padding: 0% 5% 2% 5%;
}
.imagem-12{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagem-12 img{
    width: 100%;
}
            /* SESSÃO 13 */
.sessao-13{
    background-image: url(/assets/img/bg-15.jpg);
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
        /* PERGUNTAS CONTAINER */
.faq-container {
    width: 80%;
    margin: auto;
}

details {
    border: 3px solid #ccccccb4;
    border-radius: 5px;
    margin-bottom: 2%;
    color: var(--amarelo);
    padding: 0%;
}

summary {
    padding: 2%;
    cursor: pointer;
    color: white;
    outline: none; 
}

summary:hover {
    background: #0057b34b;
}

.sessao-13-abaixo{
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}
.sessao-13-abaixo p{
    font-size: .9vw;
    padding-bottom: 3%;
}
footer{
    background-color: var(--roxo-escuro);
}
.artigos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 800;
    padding: 3% 0;
   
}
.artigos img{
    width: 10%;
}
.artigos a{
    text-decoration: none;
    color: var(--branco);
    font-size: 1.4vw;
    height: 100%;
}

@media (max-width: 768px) {
.whatsapp-popup {
bottom: 20%;
}
.btn{
padding: 0 2%;
font-size: 5vw;
width: 100%;
}

.top{
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0;
padding: 25% 0;
height: 100%;
background-position: bottom;
background-size: cover;
padding-top: 70%;

}
.top h2{
font-size: 4.8vw;
width: 100%;

}
.area-text{
padding: 0;   
margin-left: 2%;
width: 90%;

}
.area-vid{
width: 90%;
position: relative;
left: 5%;
right: 0;

}
.area-vid .video {
    position: relative;
    width: 80%;
    height: 0; 
    overflow: hidden;
}
.area-vid h2{
    font-size: 2.5vw;
    padding-bottom: 5vw;
}
.sessao2{
    flex-direction: column;
}
.area-quadros{
    flex-direction: column;
    flex-wrap: nowrap;
}
.quadros-sessao2{
   
    min-height: 120vw;
    max-height: 80vw;
    max-width: 80vw;
    min-width: 80vw;
}
.sessao2-titulo {
    font-size: 3.5vw;
    font-weight: 1000;
    padding: 0 10%;
}
.quadros-sessao2 img{
    width: 50vw;
}
.quadros-sessao2 h2{
    font-size: 4.8vw;
}
.sessao3{
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 3vw;
}
.area-1{
   
    font-size: 3vw;
    width: 100%;
    padding: 0;
}
.area-1 h2{
    font-size: 5vw;
    padding: 0 10% ;
    text-align: center;
    font-weight: 800;
    padding-bottom: 5%;
}
.area-1 p{
    font-size: 4.8vw;
    padding: 0 6%;
}

.area-2 img{
    width: 95%;
}
.area-2{
    width: 90%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.area-2 p{
    font-size: 4.8vw;
    padding: 0;
}
.sessao-4{
    padding-top: 75%;
}
.sessao-4 p{
    font-size: 4.2vw;
    padding: 0;
    padding-bottom: 5%;
}

.area-icones{
    flex-wrap: wrap;
    width: 100%;
  
}
.icones{
    width: 50%;
 
}
.icones i{

    font-size: 24vw;
    
}
.icones h2{
    font-size: 3.5vw;
    padding: 5% 15%;
}

.sessao-5{
    padding: 5% 0;
}
.sessao-5 h2{
    font-size: 6vw;
}
.sessao-5 p{
    font-size: 4.6vw;
    font-weight: 600;
}
.sessao-5 img{
    width: 80%;
}

.sessao-6 img{
    width: 80%;   
}
.sessao-7{
    padding-top: 61%;
}
.carousel-item {
    flex: 0 0 100%; /
}

.carousel-inner {
    display: block; 
}
.sessao-8{
    flex-direction: column;
}
.sessao-direito {
    width: 100%;
}
.sessao-esquerdo{
    width: 50%;
}
.sessao-esquerdo img{
    width: 100%;
}
.sessao-direito p{
font-size: 4.8vw;
font-weight: 600;
}
.sessao-9{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
.lado-esquerdo-9{
    width: 100%;
}
.lado-esquerdo-9 h2{
    font-size: 5vw;
    padding: 5% 10%;
}
.lado-esquerdo-9 p{
    font-size: 4.6vw;
    width: 95%;
    padding:  1% 10%;
    padding: 1%;
}
.lado-direito-9{
    width: 100%;
 
    margin: 0;
    padding: 0;
}
.lado-direito-9 p{
    font-size: 4.8vw;
    margin: 0;
    padding: 10% 6%;
    font-weight: 500;
}
.lado-direito-9 h2{
    font-size: 5vw;
}
.area-valor{
    width: 80%;
}
.valor-acima p{
    font-size: 10vw;
    width: 100%;
    padding: 0;
}
.valor-flex .parcelas  {
    font-size: 10vw;
    padding: 0;
    margin: 0;
    margin-left: 10vw;
}
.valor-flex .reais{
    font-size: 30vw;
}
.valor-flex .centavos{
    font-size: 10vw;
    margin-left: -10vw;  
    padding-right: 10%;
}
.valor-abaixo{
    font: 8vw;
}
.container-garantia{
    flex-direction: column;
    background-position: center;
}
.animacao-container{
    border-radius:50px ;
    overflow: hidden;
}
.text-content-gar{
    width: 100%;
}
.text-content-gar p{
    font-size: 4.8vw;
    padding: 0 10%;
    font-weight: 500;
}
.text-content-gar h2{
    font-size: 6vw;
    padding: 0 10%;
  
}
.animacao-container{
    height: 60vh;
    width: 90vw;
}
.carousel-dots {
    width: 100%;

}
.carousel-dots .dot{
    width: 10px;
    height: 10px;
    background-color: var(--roxo);
}
.sessao-10 h2{
    font-size: 6vw;
   
    width: 100%;
}
.video-container{
   
    flex-direction: column;
    margin: 0;
    padding: 10%;
}
.video-container iframe{
    width: 80%;
    border: 6px dashed #00FFA3;
    margin-bottom: 5%;
}
.sessao-11 {
    height: 100%;
    background-position:center;
}
 .esquerdo-11 p{
 font-size: 20vw;
}
.direito-11 p{
    font-size: 5vw;
}
.subtitulo-11 p{
    font-size: 4.8vw;    
}
.imagem-11 img{
    width: 30vw;
    padding-bottom: 10%;
}
.carrossel-simples{
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
}
.slide{
    height: 100%;
    width: 100%;
    padding: 15% 0;
}
.slide img{
    width: 40%;
}
.text-content{
    width: 80%;
}
.text-content h2{
    font-size: 6vw;
}
.text-content p{
    font-size: 3vw;
}

.sessao-12 h2{
    font-size: 6vw;
}
.sessao-12 p{
    font-size: 4.8vw;
    font-weight: 500;
}
.imagem-12 img{
    width: 100%;
    padding-bottom: 6%;
}
.faq-container{
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   width: 100%;
}
.summary {
    font-size: 2vw;
    padding: 2%;
}
.sessao-13-abaixo p {
    font-size: 4vw;
}
.artigos{
    flex-direction: column;
}
.artigos img{
    width: 30%;
}
.artigos a{
    font-size: 4vw;
}
/**MENU BAR**/

.menu-container{
    top: 6vh;
    right: 8vw;
}
}